version: 2.1
orbs:
    firebase-deploy: azdevs/firebase-deploy@1.0.0
jobs:
    test:
        docker:
            - image: "circleci/node:lts"
        steps:
            - checkout
            - restore_cache:
                  key: 'v1-yarn-{{ checksum "yarn.lock" }}'
            - run: yarn install
            - save_cache:
                  key: 'v1-yarn-{{ checksum "yarn.lock" }}'
                  paths:
                      - ./node_modules
            - run: yarn test
    build:
        docker:
            - image: "circleci/node:lts"
        steps:
            - checkout
            - restore_cache:
                  key: 'v1-yarn-{{ checksum "yarn.lock" }}'
            - run: yarn install
            - save_cache:
                  key: 'v1-yarn-{{ checksum "yarn.lock" }}'
                  paths:
                      - ./node_modules
            - run: yarn build
            - persist_to_workspace:
                  root: .
                  paths:
                      - build
                      - firebase.json
                      - .firebaserc
                      - firestore.rules
                      - firestore.indexes.json
    deploy:
        docker:
            - image: "circleci/node:lts"
        steps:
            - attach_workspace:
                  at: .
            - firebase-deploy/deploy:
                  token: $FIREBASE_DEPLOY_TOKEN
workflows:
    build-and-deploy:
        jobs:
            - test
            - build:
                  requires:
                      - test
            - deploy:
                  requires:
                      - build
